RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} Cache/tile
RewriteRule tile-([0-9]+)-([0-9]+)-([0-9]+)-?([a-z]*)-?([a-z]*)-?([^-^\.]*)-?([^-^\.]*)-?([^-^\.]*)-?([^-^\.]*) Map/tile?zoom=$1&x=$2&y=$3&region=$4&field=$5&type=$6&model=$7&progress=$8&res_tags=$9 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php/$1 [QSA,PT,L]

RewriteCond %{REQUEST_URI} Uploads/
RewriteRule ^(.*)$ index.php/ [QSA,PT,L]
