#right-content{
	padding: 10px;
}

#admin-search-form,#admin-search-form input{
	margin: 0;
	margin-left: 3px;
}

.btn-group li a{
	color: #333;
}

.uncheck{
	color: #c09853;
}

#top-action-buttons {
	width: 267px;
}

select{margin-bottom: 0; width: 150px;}

.medal-icon{
    width: 16px;
    height: 16px;
    display: block;
    float: left;
    margin-left: 5px;
}

.medal-stab{
    line-height: 29px;
    padding-left: 19px;
    padding-right: 10px;
    color: #0077b2;
}