/* css reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* css reset end */

body{
	font-family: sans-serif;
}

h1,h2,h3,h4,h5,h6,.title, .goog-te-menu-value span:first-child{
	font-family: "FZLanTingHeiS-R-GB", "Microsoft YaHei", "STXihei", sans-serif;
}

.clearfix{
	clear: both;
}

a{
	text-decoration: none;
	color: #85b552;
}

a:hover{
	text-decoration: underline;
}

/* model dialog */

#login-box, .model-dialog {
    padding-top: 26px;
    padding-right: 24px;
    padding-bottom: 26px;
    padding-left: 24px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 6px 10.392px 27px 0px rgba( 0, 0, 0, 0.28 );
    position: absolute;
    
}

#login-box p, .model-dialog p {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    color: #665f50;
    font-size: 12px;
    line-height: 16px;
}


#login-box h4, .model-dialog h4 {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    font-size: 14px;
    color: #665f50;
}

.model-dialog label {
    color: #999999;
    font-size: 12px;
    margin-top: 12px;
    display: block;
    margin-bottom: 3px;
}

.close-button{
	display: block;
	position: absolute;
	right: 10px;
	top: 10px;
	width: 16px;
	height: 16px;
	background: url(../img/icons/close-button.gif) no-repeat;
}

/* buttons */
.masthead-button{
    display: block;
    font-size: 14px;
    line-height:14px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba( 60, 115, 0, .6 );
    border-radius: 4px;
    background: url(../img/bg/gradients.jpg) repeat-x 0 -230px;
    height: 14px;
    margin-left: 5px;
    text-decoration: none;
    font-size: 14px;
    color: #236c00;
    padding: 7px 12px;
    text-shadow: 0 1px rgba(214,255,80,.60);
}

a.masthead-button:hover{
    border-color: #adc88f;
    background-position: 0 -258px;
}

a.masthead-button:active{
    border-color: #7b935d;
    background-position: 0 -286px;
}

.action-button, .btn.action{
    border-radius: 4px;
    background: url(../img/bg/gradients.jpg) repeat-x 0 -314px;
    width: 100px;
    height: 27px;
    border: none;
    display: block;
    float: left;
    font-size: 14px;
    color: rgb( 255, 255, 255 );
    text-align: center;
    text-shadow: 0.8px 0.8px 1px rgb( 0, 0, 0 );
    line-height: 27px;
    padding: 0;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
}
.action-button:hover, .btn.action:hover{
    background-position: 0 -341px;
    text-decoration:none;
}
.action-button:active, .btn.action:active{
    background-position: 0 -368px;
    text-decoration:none;
}