select {
    width: 78px;
    height: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #f5f3ed;
    -webkit-box-shadow: 0 1px rgba(255,255,255,.2), inset 0 2px 1px rgba(56,52,43,.1);
    -moz-box-shadow: 0 1px rgba(255,255,255,.2), inset 0 2px 1px rgba(56,52,43,.1);
    box-shadow: 0 1px rgba(255,255,255,.2), inset 0 2px 1px rgba(56,52,43,.1);
    border: solid 1px rgba(103,98,81,.4);
    background-image: url(../img/select-down-arrow.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-left: 5px;
    padding-top: 3px;
}

.full-length{
    width: 273px;
}

.half-length{
    width: 120px;
    margin-right: 5px;
}



.form-region {
    width: 930px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 66px;
    font-size: 12px;
}

.form-section {
    margin-bottom: 10px;
}

.form-section h3 {
    margin: 0;
    padding: 3px 3px 8px;
    font-family: "Microsoft YaHei","微软雅黑","华文细黑", "黑体", sans-serif;
    color: #85b552;
    border-bottom: 1px solid #dedede;
    margin-bottom: 7px;
    font-size: 15px;
    padding-left: 12px;
}

#type-select-section h3{
    position: relative;
}
#type-select-section h3 span{
    position: absolute;
    left: 2px;
}

.form-field {
    margin-bottom: 27px;
    clear: both;
}

.form-field span.title {
    width: 98px;
    float: left;
    display: block;
    text-align: right;
    padding-right: 16px;
    line-height: 31px;
}

.form-field input[type=text], .form-field input[type=password], .form-field textarea {
    width: 265px;
    height: 26px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #f5f3ed;
    -webkit-box-shadow: 1px 1px rgba(255,255,255,.2), inset 1px 1px 1px rgba(56,52,43,.1);
    -moz-box-shadow: 1px 1px rgba(255,255,255,.2), inset 1px 1px 1px rgba(56,52,43,.1);
    box-shadow: 1px 1px rgba(255,255,255,.2), inset 1px 1px 1px rgba(56,52,43,.1);
    border: solid 1px rgba(103,98,81,.4);

    font-size: 16px;
    padding-left: 5px;
}

.form-field textarea{
    height: 120px;
}

#main .select2-choices {
    height: 29px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #f5f3ed;
    -webkit-box-shadow: 1px 1px rgba(255,255,255,.2), inset 1px 1px 1px rgba(56,52,43,.1);
    -moz-box-shadow: 1px 1px rgba(255,255,255,.2), inset 1px 1px 1px rgba(56,52,43,.1);
    box-shadow: 1px 1px rgba(255,255,255,.2), inset 1px 1px 1px rgba(56,52,43,.1);
    border: solid 1px rgba(103,98,81,.4);
    min-width: 271px;
    background-image: none;
}

#main .select2-container-multi .select2-choices .select2-search-field input{
    padding:0;
    background: none;
}

.select2-results li{
    font-size: 14px;
    padding-bottom:3px
}

#main .select2-search-choice-close{
    top: 2px;
}

.form-field input.short {
    width: 200px;
}

#type-selector {
    padding-left: 16px;
}

#type-selector li {
    list-style: none;
    line-height: 20px;
    margin-bottom: 10px;
}

#type-selector label{
    padding: 3px 8px;
    color: white;
    width: 66px;
    height: 19px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: rgba(0,102,0,0);
    background-image: -webkit-linear-gradient(bottom, #6dae1a, #7dc41b);
    background-image: -moz-linear-gradient(bottom, #6dae1a, #7dc41b);
    background-image: -o-linear-gradient(bottom, #6dae1a, #7dc41b);
    background-image: -ms-linear-gradient(bottom, #6dae1a, #7dc41b);
    background-image: linear-gradient(to top, #6dae1a, #7dc41b);
}

#type-selector label:hover{
    width: 66px;
    height: 19px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: rgba(0,102,0,0);
    background-image: -webkit-linear-gradient(top, #65a018, #7cc01d);
    background-image: -moz-linear-gradient(top, #65a018, #7cc01d);
    background-image: -o-linear-gradient(top, #65a018, #7cc01d);
    background-image: -ms-linear-gradient(top, #65a018, #7cc01d);
    background-image: linear-gradient(to bottom, #65a018, #7cc01d);
}

.check-group label {
    display: block;
    float: left;
    width: 72px;
    height: 29px;
    margin: 1px;
    padding: 0;
    line-height: 29px;
    text-align: center;
    background: white;
    color: #85b552;
}

.check-group label.selected{
    background: #85b552;
    color: white;
}

.check-group label:hover{
    background: #85b552;
    color: white;
}

.check-group label:active{
    background: #709944;
    color: white;
}

#type-selector label.selected{
    background: #00651b;
}

#map-locate-container {
    float: left;
}

#work-field-region {
    margin-left: 108px;
}

.verify-block{
    margin-left: 108px;
}

.verify-block input{
    width: 125px;
    margin-top: 10px;
}

#newform a{
}

.submit-buttons input{
    width: 92px;
    height: 24px;
    line-height: 24px;
    border: 0;
    padding: 0;
    color: white;
    background-color: #81b460;
    margin-left: 10px;
    font-size: 14px;
}
.submit-buttons input[disabled]{
    color: #ccc;
}
.submit-buttons{
    margin-left: 30px;
}
.required{
    color: #d82d00;
}
.ordinary{
    color: black;
    font-size: 12px;
    color: #b5b5b5;
    padding-left: 20px;
}
.after-title {
    color: #b5b5b5;
    margin: 0 18px 19px;
}

/* add event page */

#editor-zone {
    margin: 20px 23px;
    position: relative;
}

#editor-toolbar {
    border: 1px solid #b5b5b5;
    width: 273px;
    height: 33px;
    zoom: 1;
}

#editor-toolbar span, #editor-toolbar a {
    display: block;
    float: left;
    padding: 11px;
}

#editor-toolbar span {
    font-size: 14px;
    padding: 10px 20px 10px 10px;
}

#editor-toolbar a {
    padding-right: 15px;
    color: black;
    padding-left: 30px;
    vertical-align: top;
    width: auto;
    height: auto;
}

#editor-help {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1em 0;
}

#editor-help strong {
    font-weight: normal;
    color: #85b552;
}

#editor-body {
    height: 440px;
    width: 878px;
    border: 1px solid #b5b5b5;
    margin-top: -1px;
    zoom: 1;
    box-shadow: inset 1px 1px 3px #d7d7d7;
}

#title-part {
    margin: 10px 10px 7px;
    padding: 13px 20px;
    border-bottom: 1px solid #b5b5b5;
}

#title-part input {
    width: 820px;
    border: none;
    font-size: 18px;
    font-weight: bold;
}

#rte-part {
    margin-left: 17px;
}

#rte-part iframe {
    width: 825px ;
    height: 350px ;
    font-size: 12px;
}

#insert-image{
    background: url(../img/icons/event-photos.jpg) no-repeat 6px;
}
#insert-video{
    background: url(../img/icons/event-video.jpg) no-repeat 6px;
}
#insert-link{
    background: url(../img/icons/event-link.png) no-repeat 2px;
}

.model-dialog {
    background: white;
    width: 400px;
    height: 200px;
}

.close-button {
    position: absolute;
    right: 5px;
    top: 5px;
}

.model-dialog h4 {
    margin-left: 10px;
}

#upload_button {
    position: absolute;
    top: 80px;
    left: 150px;
    background: #81B460;
    height: 35px;
    width: 100px;
    color: white;
    line-height: 35px;
    text-align: center;
}
#insert-link-text {
    display: block;
    position: absolute;
    top: 60px;
    left: 45px;
    width: 300px;
    background: #e9e9e9;
}

#insert-link-button {
    position: absolute;
    display: block;
    top: 120px;
    left: 162px;
    background: #85B552;
    color: white;
    padding: 8px 15px;
    cursor: pointer;
}

#insert-video-text {
    display: block;
    position: absolute;
    top: 80px;
    left: 45px;
    width: 300px;
    background: #e9e9e9;
}

#insert-video-dialog p {
    margin-left: 55px;
}

#insert-video-button {
    position: absolute;
    display: block;
    top: 130px;
    left: 162px;
    background: #85B552;
    color: white;
    padding: 8px 15px;
    cursor: pointer;
}

#newform a.hideable-section{
    background: url(../Img/fold-arrows.gif) no-repeat 59px 2px;
    margin-left: 50px;
    display: block;
    font-size: 14px;
    color: #b5b5b5;
    margin-bottom: 17px;
}

#newform a.hideable-section.folded{
    background-position: 59px -24px;
}

.form-comment{
    line-height: 32px;
    
    padding-left: 14px;
    color: black;
}

#avatar-component{
    float: left;
}

#avatar-preview-div{
    margin-bottom: 5px;
}

#terms-and-conditions{
    display: block;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-color: #bebcb5;
    border-right-color: #bebcb5;
    border-bottom-color: #bebcb5;
    border-left-color: #bebcb5;
    border-radius: 4px;
    background-color: #f5f3ed;
    width: 550px;
    font-size: 16px;
    line-height: 20px;
    padding: 20px;
}