
#masthead {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1012;
    
}

#main-nav {
    height: 31px;
    line-height: 30px;
    padding: 8px 0 7px;
    background: url(../img/bg/header.jpg) repeat-x;
    margin: 1px solid #51504f;
    margin-left: 0;
    margin-right: 0;
}

#main-nav-shadow{
    width: 100%;
    height: 6px;
    background: url(../img/bg/header-shadow.png) repeat-x;
    position: absolute;
    top: 46px;
    z-index: 999;
}

#logo {
    float: left;
    margin-left: 14px;
    width: 97px;
    height: 36px;
    background: url(../img/ngo-logo.png) no-repeat;
    display: block;
    text-indent: -9999px;
    margin-top: -4px;
}


/* main-nav-filters and controls */

#main-nav-filters{
    float: left;
    margin: 0;
    padding: 0;
    width: 300px;
    margin-left: 141px;
    margin-top: 0px;
}

#main-nav-filters li{
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}

a.filter-menu-button, .goog-te-menu-value span:first-child, #register-buttons a {
    display: block;
    width: 76px;
    height: 28px;
    background: url(../img/sprites-all.png) no-repeat 71px -28px;
    float: left;
    margin-left: 6px;
    padding-left: 8px;
    text-decoration: none;
    font-size: 14px;
    color: #236c00;
    text-shadow: 0 1px rgba(214,255,80,.75);
}

#field-list, #region-list, #medal-list {
    top: 48px;
    left: 14px;
    position: absolute;
    width: 500px;
    background-color: rgba(255,255,255,100);
    -webkit-box-shadow: 0 2px 5px rgba(49,81,29,.3);
    -moz-box-shadow: 0 2px 5px rgba(49,81,29,.3);
    box-shadow: 0 2px 5px rgba(49,81,29,.3);
    border: solid 1px #a9a9a9;
    display: none;
}

#region-list{
    left: 102px;
}

.main-nav-filter-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav-filter-list li {
    float: left;
    height: 27px;
    width: 96px;
    min-width: 96px;
    text-align: center;
    font-size: 12px;
    color: #666666;
    cursor: pointer;
}

.main-nav-filter-list li.selected {
    background-color: #6db608;
    color: white;
}

#field-list {
    
}

#region-list {

}

.main-nav-filter i.triangle {
    width: 15px;
    height: 8px;
    position: absolute;
    top: -8px;
    background: url(../img/sprites-all.png) no-repeat 0px -480px;
    left: 22px;
}

.filter-box .masker{
    position: absolute;
    top: -20px;
    width: 679px;
    height: 20px;   
}

#main-nav-controls {
    width: 546px;
    float: right;
}

#main-nav-controls div {
    float: right;
}

#search-box{
    position: relative;
}

#search-box{
    width: 241px;
    height: 28px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #f5f3ed;
    -webkit-box-shadow: 0 1px rgba(255,255,255,.2), inset 0 2px 1px rgba(56,52,43,.1);
    -moz-box-shadow: 0 1px rgba(255,255,255,.2), inset 0 2px 1px rgba(56,52,43,.1);
    box-shadow: 0 1px rgba(255,255,255,.2), inset 0 2px 1px rgba(56,52,43,.1);
    border: solid 1px rgba(103,98,81,.4);
    padding: 0;
}

#search-box.focus{
    border: solid 1px rgba(65,64,61,.65);
}

#search-box input{
    border: 0;
    margin-left: 27px;
    font-size: 14px;
    line-height: 20px;
    margin-top: 4px;
    width: 190px;
    background: none;
}

#search-dropdown-arrow, #search-menu-triangle{
    width: 15px;
    height: 15px;
    background: url(../img/sprites-all.png) no-repeat 0px -559px;
    display: block;
    position: absolute;
    left: 11px;
    top: 12px;
    cursor: pointer;
}


#search-action-button{
    width: 22px;
    height: 29px;
    position: absolute;
    right: 0px;
    top: 1px;
    background:  url(../img/sprites-all.png) no-repeat 1px -151px;
    padding: 0;
    cursor: pointer;
}

#search-box.focus #search-action-button{
    background-position: 0px -592px;
}

#register-buttons, .register-buttons{
    margin-right: 15px;
}

#register-buttons, .register-buttons{
    float: right;
}
    



#register-buttons a{
    display: block;
    float: left;
    height: 14px;
    line-height: 14px;
    background: none;
    width: auto;
    padding: 0;
    margin: 0;
}

#register-buttons #register-button{
    padding-left: 21px;
}

/* google translate */

#language-box{
    margin-left: 30px;
    padding-right: 23px;
    height: 30px;
    background: url(../img/sprites-all.png) no-repeat right -25px;
    margin-top: -1px;
}

div.skiptranslate, div.goog-te-gadget-simple{
    margin: 0;
    border: 0;
    background: none;
}

div.goog-te-gadget-simple img,
.goog-te-menu-value span{
    display: none;
}

.goog-te-menu-value span:first-child{
    display: block;
    height: 20px;
    margin: 0;
    padding: 0;
    width: auto;
    background: none;
}

.goog-te-menu-frame{
    top: 50px;
}




#login-box form {
    padding-top: 4px;
}

#login-form-fields input {
    display: block;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-color: #bebcb5;
    border-right-color: #bebcb5;
    border-bottom-color: #bebcb5;
    border-left-color: #bebcb5;
    border-radius: 4px;
    background-color: #f5f3ed;
    width: 240px;
    height: 29px;
    font-size: 16px;
}

#login-box label.form-label {
    color: #999999;
    font-size: 12px;
    margin-top: 12px;
    display: block;
    margin-bottom: 3px;
}

#login-box{
    width: 243px;
    height: 251px;
}

#login-remember {
    margin-top: 16px;
    font-size: 12px;
}

#login-remember a {
    text-decoration: none;
    color: black;
    margin-left: 14px;
}

#login-remember a:hover {
    text-decoration: underline;
}

#login-remember input {
    width: 11px;
    height: 11px;
}



#login-action a.action-button {
    margin-left: 10px;
}

#login-action, .action-button {
    margin-top: 10px;
}

#register-buttons #my-page-button{
    background: url(../img/sprites-all.png) no-repeat right -35px;
    display: block;
    width: 100%;
}

#login-close-button{
    background: url(../img/icons/close-button.gif) no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 23px;
    right: 23px;
    cursor: pointer;
}

#api-login-links {
    color: #999999;
    float: left;
    font-size: 12px;
    margin-top: 14px;
}

#api-login-links a {
    color: black;
    text-decoration: none;
}

#api-login-links a:hover {
    text-decoration: underline;
}


/* user login menu */

#login-menu{
    width: 100px;
    -webkit-border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 5px rgba(49,81,29,.3);
    -moz-box-shadow: 0 2px 5px rgba(49,81,29,.3);
    box-shadow: 0 2px 5px rgba(49,81,29,.3);
    border: solid 1px #a9a9a9;
    padding: 5px 0;
    position: absolute;
    top: 42px;
    right: 16px;
}

#login-menu li a{
    line-height: 24px;
    display: block;
    height: 24px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    color: #85b552;
    text-shadow: none;
    margin-top: 3px;
}

#login-menu li a:hover{
    background-color: rgba(255,255,255,0);
    background-image: -webkit-linear-gradient(bottom, #6dae1a, #7dc41b);
    background-image: -moz-linear-gradient(bottom, #6dae1a, #7dc41b);
    background-image: -o-linear-gradient(bottom, #6dae1a, #7dc41b);
    background-image: -ms-linear-gradient(bottom, #6dae1a, #7dc41b);
    background-image: linear-gradient(to top, #6dae1a, #7dc41b);
    color: white;
}

#login-menu-triangle{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid white;
    position: absolute;
    top: -5px;
    right: 8px;
}

#login-menu-zone .masker {
    width: 100px;
    height: 20px;
    position: absolute;
    top: -20px;
    background: none;
}

#login-error-message{
    font-size: 14px;
    position: absolute;
    color: red;
}


#footer {
    clear: both;
    margin-top: 75px;
    background: #f0f0f0;
    border-top: 1px solid #a7a7a7;
    padding-bottom: 35px;
}

#footer-container {
    width: 1020px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
}

#footer h6 {
    color: #636363;
    font-size: 12px;
    margin-top: 15px;
}

#footer a {
    color: #a2a1a1;
    font-size: 12px;
}

#footer ul{
    padding-top: 10px;
}

#footer-partners, #footer-links, #footer-tech{
    width: 240px;
    float: left;
}

#flash-notice-region{
    position: absolute;
    top: 0px;
    left: 300px;
    width: 600px;
    font-size: 14px;
    line-height: 20px;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #c09853;

    animation: slideup 5s;
    -moz-animation: slideup 5s;
    -webkit-animation: slideup 5s;
    -o-animation: slideup 5s;
}


@keyframes slideup
{
0%   {top:45px;}
75%  {top:45px;}
100% {top:0px;}
}

@-moz-keyframes slideup
{
0%   {top:45px;}
75%  {top:45px;}
100% {top:0px;}
}

@-webkit-keyframes slideup
{
0%   {top:45px;}
75%  {top:45px;}
100% {top:0px;}
}

@-o-keyframes slideup
{
0%   {top:45px;}
75%  {top:45px;}
100% {top:0px;}
}

.medal-list li a{
    display: inline-block;
    background: url(../img/badge.png) no-repeat;
    height: 46px;
    width: 133px;
    padding-top: 27px;
    text-align: center;
}

#list-view-link{
    position: absolute;
    left: 187px;

}