#login-box {
    padding-top: 26px;
    padding-right: 24px;
    padding-bottom: 26px;
    padding-left: 24px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 6px 10.392px 27px 0px rgba( 0, 0, 0, 0.28 );
    position: absolute;
    width: 243px;
    height: 251px;
}

#login-box h4 {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    font-size: 14px;
    color: #665f50;
}

#login-box p {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    color: #665f50;
    font-size: 12px;
}

#login-box form {
    padding-top: 4px;
}

#login-form-fields input {
    display: block;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-color: #bebcb5;
    border-right-color: #bebcb5;
    border-bottom-color: #bebcb5;
    border-left-color: #bebcb5;
    border-radius: 4px;
    background-color: #f5f3ed;
    width: 240px;
    height: 29px;
    font-size: 16px;
}

#login-box label.form-label {
    color: #999999;
    font-size: 12px;
    margin-top: 12px;
    display: block;
}

#login-remember {
    margin-top: 16px;
    font-size: 12px;
}

#login-remember a {
    text-decoration: none;
    color: black;
    margin-left: 14px;
}

#login-remember a:hover {
    text-decoration: underline;
}

#login-remember input {
    width: 11px;
    height: 11px;
}

#login-action .action-button{
    border-radius: 4px;
    background: url(../img/bg/gradients2.jpg) repeat-x;
    width: 116px;
    height: 28px;
    border: none;
    display: block;
    float: left;
    font-size: 14px;
    font-family: "Microsoft YaHei";
    color: rgb( 255, 255, 255 );
    text-align: center;
    text-shadow: 0.8px 0.8px 1px rgb( 0, 0, 0 );
    line-height: 28px;
    padding: 0;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
}

#login-action a.action-button {
    margin-left: 10px;
}

#login-action {
    margin-top: 10px;
}

#login-close-button{
    background: url(../img/icons/close-button.gif) no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 23px;
    right: 23px;
    cursor: pointer;
}

#api-login-links {
    color: #999999;
    float: left;
    font-size: 12px;
    margin-top: 14px;
}

#api-login-links a {
    color: black;
    text-decoration: none;
}

#api-login-links a:hover {
    text-decoration: underline;
}

