body, html,#master-box, #allmap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin:0;
}

/* weibo related */

.weibo-marker-bg img{
    position: absolute;
    top: 6px;
    left: 6px;
}

.weibo-marker-bg{
    background: url(../img/markers/square-bg.png) no-repeat;
    height: 49px;
    width: 43px;
    position: relative;
    top: -10px;
}

.weibo-marker-shadow{
    background: url(../img/markers/square-shadow.png) no-repeat;
    width: 35px;
    height: 13px;
    position: absolute;
    top: 37px;
    left: 3px;
}

#weibo-box {
    position: absolute;
    right: 6px;
    top: 51px;
    padding: 7px 7px;
    width: 200px;
    -webkit-border-radius: 4px/5px;
    -moz-border-radius: 4px/5px;
    border-radius: 4px/5px;
    background-color: rgba(253,252,248,0.90);
    -webkit-box-shadow: 0 2px 5px rgba(49,81,29,.3);
    -moz-box-shadow: 0 2px 5px rgba(49,81,29,.3);
    box-shadow: 0 2px 5px rgba(49,81,29,.3);
    border: solid 1px #a9a9a9;
}

h4.weibo-user-name {
    margin: 0;
    color: #18944b;
    font-size: 12px;
    line-height: 14px;
    width: 150px
;
}

p.weibo-content {
    margin: 0;
    color: :#646464;
    font-size: 12px;
    line-height: 18px;
    margin-top: 5px;
}

#weibo-img-container {
    height: 135px;
    overflow: hidden;
}

img.weibo-img {
    float: right;
}

#weibo-time-past {
    font-size: 12px;
    position: absolute;
    right: 7px;
    top: 7px;
    color: #999999;
}

.expand-weibo-text{
    color: #1a8f49;
    text-decoration: none;
}

.expand-weibo-text:hover{
    text-decoration: underline;
}
/* list section */

#map-list{
    position: absolute;
    top: 46px;
    left: 0px;
    z-index: 999;
    background: url(../img/bg/tile-left.jpg) repeat;
    border: 1px solid #b3aa98;
}

.map-list-section{
    width: 240px;

}

.map-list-section h4{  
    margin: 0;
    padding: 0;
    height: 20px;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    color: #ffffff;
    cursor: pointer;
    background: url(../img/bg/handle-gradient.jpg) repeat-x;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.15);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    border: 1px solid #dfdad0;
    border-right: 0;
    border-left: 0;
}

#map-list ul{
    list-style: none;
    margin: 0;
    padding: 0;
    
    
}

.map-list{
    overflow: hidden;
    height: 135px;
    color: #777164;
}

#map-list li a{
    margin: 0 14px;
    padding: 16px 10px 16px 32px;
    font-size: 12px;
    text-align: left;
    border-bottom: 1px solid #d8d8d8;
    cursor: pointer;
    display: block;
    height: 12px;
    overflow: hidden;
    color: rgb(119,113,100);
}

#map-list li.selected{
    background: url(../img/bg/gradients.jpg) repeat-x;
}

#ngo-list-section li.selected{
    background-position: 0 -80px;
    color: #fdf2ef;
}

#map-list li.selected a{
    border: none;
    padding-bottom: 17px;
    background-image: url(../img/markers/markers-ngo-highlight.png);
}

.list-more{
    position: relative;
}

.list-more-link{
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    color: #535353;
    padding: 12px 0;
}

.total-count{
    position: absolute;
    right: 18px;
    top: 13px;
    color: #adadad;
    font-size: 12px;
}

#ngo-list-section h4{
    color: #358a10;
}


#ngo-list-section li a{
    background-image: url(../img/markers/markers-ngo.png);
    background-repeat: no-repeat;
}

#ngo-list-section li:hover{
    color: #358a10;
}

#ngo-list-section li.selected a{
    background-image: url(../img/markers/markers-ngo-highlight.png);
    background-repeat: no-repeat;
}

#csr-list-section h4{
    color: #008ec6;
}

#csr-list-section li a{
    background-image: url(../img/markers/markers-csr.png);
    background-repeat: no-repeat;
}

#csr-list-section li:hover{
    color: #008ec6;
}

#csr-list-section li.selected a{
    background-image: url(../img/markers/markers-ngo-highlight.png);
    background-repeat: no-repeat;
}

#csr-list-section li.selected{
    background-position: 0 -130px;
    color: #eff8fc;
}

#case-list-section h4{
    color: #e14b08;
}

#case-list-section li a{
    background-image: url(../img/markers/markers-case.png);
    background-repeat: no-repeat;
}

#case-list-section li:hover{
    color: #e14b08;
}

#case-list-section li.selected a{
    background-image: url(../img/markers/markers-ngo-highlight.png);
    background-repeat: no-repeat;
}

#case-list-section li.selected{
    background-position: 0 -180px;
    color: #fcf2ef;
}

.map-list-section .gradient{
    display: block;
    width: 5px;
    height: 20px;
    position: absolute;
    background: url(../img/bg/gradients.jpg) repeat-x;
}

#ngo-list-section .gradient{
    background-position: 0 -20px;
}

#csr-list-section .gradient{
    background-position: 0 -40px;
}

#case-list-section .gradient{
    background-position: 0 -60px;
}
/* pager */

.pager{
    padding: 5px 12px;
}

.pager span{
    cursor: pointer;
    color: #808080;
}

.pager span, .pager div{
    float: left;
    display: block;
    margin-top: 0;
}

.prev-page, .next-page {
    text-indent: -9999px;
    display: block;
    width: 4px;
    height: 16px;
    background: url(../img/sprites-all.png) no-repeat 0 -320px;
    margin-right: 8px;
}

.next-page {
    background-position: 0 -360px;
    margin: 0;
}

.prev-page:hover{
    background-position: 0 -400px;
}

.next-page:hover{
    background-position: 0 -440px;
}

.pager-number{
    width: 15px;
    height: 16px;
    line-height: 18px;
    font-size: 12px;
    margin-right: 8px;
    text-align: center;
}

#ngo-list-section .pager-number.current{
    background-color: #4e820b;
    color: white;
}

#csr-list-section .pager-number.current{
    background-color: #0097c8;
    color: white;
}

#case-list-section .pager-number.current{
    background-color: #e14b08;
    color: white;
}

.record-1{
    background-position: 0 9px;
}

.record-2{
    background-position: 0 -30px;
}

.record-3{
    background-position: 0 -70px;
}

.record-4{
    background-position: 0 -110px;
}

.record-5{
    background-position: 0 -150px;
}

.record-6{
    background-position: 0 -190px;
}

.record-7{
    background-position: 0 -230px;
}

.record-8{
    background-position: 0 -270px;
}

.record-9{
    background-position: 0 -310px;
}

.record-10{
    background-position: 0 -350px;
}

.record-11{
    background-position: 0 -390px;
}

/* story board zone */

#story-zone{
    position: absolute;
    top: 95%;
    width: 100%;
}

#story-board {
    width: 100%;
    height: 800px;
    background: url(../img/bg/tile-story.jpg);
    overflow: auto;
    z-index: 1001;
    position: relative;
}

#story-zone-handle{
    width: 100%;
    background: url(../img/bg/story-handle-gradient.jpg) repeat-x;
    height: 34px;
    position: relative;
    border-bottom: 1px solid #988e79;
    z-index: 1004;
    border-top: 1px solid #988e79;
}

#about-us-link, #beian-link{
    color: #999999;
    font-size: 14px;
    position: absolute;
    top: 10px;
    left: 10px;
    text-decoration: none;
    text-decoration: none;
}

#beian-link{
    right: 10px;
    left: auto;
}

#story-board-button{
    padding-left: 25px;
    font-size: 14px;
    color: #18944b;
    display: block;
    background: url(../img/sprites-all.png) no-repeat 0px -120px;
    position: absolute;
    top: 10px;
    left: 50%;
    width: 102px;
    margin-left: -33px;
    cursor: pointer;
    text-decoration: none;
    text-decoration: none;
}

.down-arrow{
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    width: 16px;
    height: 7px;
    bottom: -7px;
    background: url(../img/sprites-all.png) no-repeat 0px -281px;
    z-index: 1004;
}

#story-zone-bottom{
    height: 15px;
    width: 100%;
    background: #cecece;
    bottom: 0px;
    position: absolute;
    z-index: 1003;
}

#story-list {
    height: 20px;
    width: 100%;
    margin: 0;
    padding: 0 0 0 22px;
    list-style: none;
}

#story-list li.board-story {
    display: block;
    list-style: none;
    width: 384px;
    height: 160px;
    margin: 0;
    padding: 0;
    margin-left: 20px;
    margin-top: 23px;
    float: left;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #fcfaf5;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.3), inset 0 0 0 1px rgba(255,255,255,.5);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.3), inset 0 0 0 1px rgba(255,255,255,.5);
    box-shadow: 0 1px 1px rgba(0,0,0,.3), inset 0 0 0 1px rgba(255,255,255,.5);
    background: url(../img/bg/story-block-gradient.jpg) repeat-x;
    overflow: hidden;
    position: relative;
}

#story-list h3{
    color: #49820b;
    font-weight: normal;
    font-size: 20px;
    margin: 0;
    padding: 15px 15px 0 15px;
    line-height: 28px;
    position: absolute;
    top: 0px;
    left: 160px;
}

.story-img-box{
    height: 160px;
    width: 384px;
    overflow: hidden;
}

.down-triangle {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #d9d9d9;
    position: absolute;
    bottom: -20px;
    left: 45%;
}

.image-mask{
	background-image: url(avatar-mask.gif);
}

/* info-window */
.info-window{
    z-index: 1;
}

.info-window-box{
    width: 347px;
    height: 126px;
    padding: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: white;
    -webkit-box-shadow: 0 0 21px rgba(80,80,80,.08);
    -moz-box-shadow: 0 0 21px rgba(80,80,80,.08);
    box-shadow: 0 0 21px rgba(80,80,80,.08);
    border: solid 1px #8c8c8c;
    background-image: -webkit-linear-gradient(bottom, #f7f7f7, #fff);
    background-image: -moz-linear-gradient(bottom, #f7f7f7, #fff);
    background-image: -o-linear-gradient(bottom, #f7f7f7, #fff);
    background-image: -ms-linear-gradient(bottom, #f7f7f7, #fff);
    background-image: linear-gradient(to top, #f7f7f7, #fff);
    position: absolute;
    top: 0px;
}

.info-window-bg{
    background: url(../img/bg/info-window-shadow.png) no-repeat;
    width: 445px;
    height: 140px;
    position: absolute;
    top: 42px;
}

.info-window-triangle{
    background: url(../img/bg/info-window-shadow.png) no-repeat 0 -160px;
    width: 30px;
    height: 15px;
    position: absolute;
    top: 146px;
    left: 169px;
}

.info-window-close-button{
    width: 10px;
    height: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
    background: url(../img/bg/info-window-shadow.png) no-repeat 0 -200px;
    cursor: pointer;
}

#info-window-title{
    font-size: 14px;
    width: 320px;
    color: #378f05;
}

#info-window-place{
    margin-top: 9px;
    height: 26px;
    margin-bottom: 10px;
    font-size: 12px;
}

#info-window-place-label{
    color: #378f05;
}

#info-window-place-text{
    color: #666666;
}

#info-window-detail{
    height: 61px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #666666;
}

.info-window.csr #info-window-title a, .info-window.csr #info-window-place-label,
.info-window.ind #info-window-title a, .info-window.ind #info-window-place-label{
    color: #0097c8;
}

.info-window.case #info-window-title a, .info-window.case #info-window-place-label{
    color: #d14100;
}

.waiting-ball{
    width: 15px;
    height: 15px;
    display: block;
    background-image: url(../img/loading.gif);
}

/* l2-panel */
#l2-panel{
    display: none;
    width: 663px;
    height: 75%;
    position: absolute;
    top: 46px;
    background: #fffcf8;
    border: 1px solid #b8af9c;
    left: 241px;
    z-index: 1000;
}

#l2-close-button{
    width: 15px;
    height: 15px;
    position: absolute;
    top: 16px;
    right: 16px;
    background: url(../img/sprites-all.png) no-repeat 0px -520px;
    cursor: pointer;
}

#l2-content{
    margin-left: 34px;
    margin-top: 19px;
    padding-bottom: 19px;
    padding-right: 37px;
}

.item-highlighter {
    display: none;
    background: green;
    width: 20px;
    height: 30px;
    position: absolute;
    left: -13px;
    background: url(../img/sprites-all.png) no-repeat -1px -84px;
}

#l2-shadow{
    background: url(../img/bg/l-shadow.png) repeat-y;
    width: 30px;
    height: 100%;
    position: absolute;
    left: -26px;
    width: 30px;
    height: 100%;
    position: absolute;
    left: -26px;
}

#preview span {
    color: #666666;
    font-size: 12px;
    display: block;
}

#preview span.title {
    color: #49820b;
    font-size: 14px;
    line-height: 12px;
}

.preview-avatar {
    float: left;
}

.preview-header h3 {
    font-size: 24px;
    color: #49820b;
    margin: 0;
    font-weight: normal;
}

.first-line, .second-line {
    float: none;
    overflow: hidden;
}

.first-line span, .second-line span {
    margin-top: 8px;
    line-height: 16px;
}

.first-line span.title {
    margin-top: 25px;
}

.second-line span.title {
    margin-top: 20px;
}

.first-line div, .second-line div {
    float: left;
    width: 130px;
}

div.work-address {
    width: 130px;
}

div.contact {
    width: 280px;
}

#preview span.email {
    display: inline;
}

.preview-header {
    padding-bottom: 18px;
    border-bottom: 2px solid #49820b;
    padding-left: 175px;
}

.preview-header.no-img {
    padding-left: 0px;
}

.preview-roller {
    clear: both;
    overflow: auto;
}

.preview-roller span, .member-count span {
    margin-top: 12px;
    line-height: 20px;
}

.preview-roller span.title {
    margin-top: 20px;
}

.preview-roller .aim span.title {
    margin-top: 25px;
}

.member-count span{
    float: left;
}

.member-count span.title {
    margin-top: 30px;
    float: none;
}

span.part-time, span.volunteers{
    margin-left: 42px;
}

#l2-panel.csr .preview-header h3 a, #l2-panel.csr #preview span.title,
#l2-panel.ind .preview-header h3 a, #l2-panel.ind #preview span.title {
    color: #008ec6;
}

#l2-panel.case .preview-header h3 a, #l2-panel.case #preview span.title {
    color: #e14b08;
}

#l2-panel.csr .preview-header, #l2-panel.ind .preview-header{
    border-bottom: 2px solid #008ec6;
}

#l2-panel.case .preview-header{
    border-bottom: 2px solid #e14b08;
}

.map-type-filters{
    width: 240px;
    overflow: hidden;
}

.map-type-filters span{
    display: inline-block;
    background: url(../img/bg/type-filter-button-bg.jpg);
    border: 1px solid #c9c5bc;
    width: 80px;
    height: 30px;
    border-top: none;
    margin-left: -5px;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    cursor: pointer;
}

.map-type-filters span.last{
    border-right: none;
}

.map-type-filters span.checked{
    background: none;
    border: none;
    height: 31px;
    width: 83px;
}

#keywords-filter{
    width: 320px;
    margin-top: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 5px rgba(49,81,29,.3);
    -moz-box-shadow: 0 2px 5px rgba(49,81,29,.3);
    box-shadow: 0 2px 5px rgba(49,81,29,.3);
    border: solid 1px #a9a9a9;
    padding: 10px;
    position: absolute;
    left: 0px;
}

#keywords-filter i.triangle{
    width: 23px;
    height: 29px;
    padding: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px 3px 0 0;
    background-color: #fff;
    border: solid 1px #a9a9a9;
    border-bottom: 0;
    position: absolute;
    top: -30px;
    background-position: 7px -552px;
    right: 0px;
    left: 2px;
}

#keywords-filter h4{
    font-size: 14px;
}

#keywords-filter span{
    width: 80px;
    font-size: 12px;
    color: #3a910f;
    padding: 0;
    margin: 0;
    cursor: pointer;
    line-height: 16px;
    display: block;
    float: left;
}

.remove-keyword-link{
    font-size: 12px;
    padding-left: 5px;
}


.map-list-section h4{
    position: relative;
}

.map-list-section h4 .triangle{
    position: absolute;
    right: 7px;
    top: 8px;
}

#footer{
    margin-top: 0;
}

#medal-list i.triangle{
    left: 210px;
}


/* spider-network */

.show-spider-link{
    position: absolute;
    right: 7px;
    bottom: 7px;
    font-size: 12px;
    cursor: pointer;
    color: #85b552;
}
