body, html,#master-box, #allmap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin:0;
}

.clearfix{
	clear: both;
}

#masthead {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1012;
    
}

#main-nav {
    height: 35px;
    line-height: 30px;
    padding: 10px;
    background: url(../img/bg/header.png) repeat-x;
    margin: 1px solid #51504f;
    margin-left: 0;
    margin-right: 0;
}

#main-nav-shadow{
    width: 100%;
    height: 13px;
    background: url(../img/bg/header-shadow.png) repeat-x;
    position: absolute;
    top: 55px;
    z-index: 999;
}

#logo {
    float: left;
    margin-left: 14px;
    width: 97px;
    height: 36px;
    background: url(../img/ngo-logo.png) no-repeat;
    display: block;
    text-indent: -9999px;
}


/* main-nav-filters and controls */

#main-nav-filters{
    float: left;
    margin: 0;
    padding: 0;
    width: 280px;
    margin-left: 34px;
    margin-top: 3px;
}

#main-nav-filters li{
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}

a.filter-menu-button{
    display: block;
    width: 76px;
    height: 28px;
    background: url(../img/sprites-all.png) no-repeat 71px -28px;
    float: left;
    margin-top: 1px;
    margin-left: 6px;
    padding-left: 8px;
    font-size: 14px;
    color: #3f3f3f;
    text-decoration: none;
}

a.filter-menu-button:hover{
    background-color: #f7f7f7;
    border: 1px solid #b9b9b9;
    margin-left: 5px;
    width: 75px;
    margin-top: 0;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    cursor: pointer;
}

li.main-nav-filter.expanded a.filter-menu-button {
    background-color: #f7f7f7;
    border: 1px solid #b9b9b9;
    border-bottom: 0;
    margin-left: 5px;
    width: 75px;
    margin-top: 0;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.main-nav-filter-list {
    top: 26px;
    margin: 0;
    padding: 8px;
    background-color: #f7f7f7;
    width: 67px;
    margin-left: 5px;
    text-align: center;
    border: 1px solid #b9b9b9;
    border-top: 0;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.main-nav-filter-list li {
    height: 23px;
    line-height: 23px;
}

.main-nav-filter-list a {
    font-size: 12px;
    color: #32ab23;
    text-decoration: none;
}

ul.main-nav-filter-list{
    display: none;
}

.main-nav-filter.expanded ul.main-nav-filter-list {
    display: block;
}


ul.main-nav-filter-list{
    position: absolute;
}

#main-nav-controls {
    width: 352px;
    float: right;
}

#main-nav-controls div {
    float: left;
}

#search-box{
    position: relative;
}

#search-box input{
    margin-top: 5px;
    width: 147px;
    height: 23px;
    border: 1px solid #b9b9b9;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #f0f0f0 url(../img/sprites-all.png) no-repeat 7px -155px;
    box-shadow:inset 1px 2px 3px #b9b9b9;
}

#search-box i{
    width: 15px;
    height: 15px;
    background: url(../img/sprites-all.png) no-repeat 0px -35px;
    display: block;
    position: absolute;
    right: 0;
    top: 13px;
    cursor: pointer;
}

#register-buttons{
    font-size: 14px;
    background-color: #18944b;
    padding: 9px 11px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-top: 2px;
    margin-left: 20px;
    border: 1px solid #0d6833;
    box-shadow: inset 0 1px 0 0px #6dbb8d;
}

#register-buttons a{
    color: white;
    text-decoration: none;
    display: block;
    float: left;
    height: 14px;
    line-height: 14px;
}

#login-button{
    padding-right: 10px;
    border-right: 1px solid #2b7706;
}

#register-button{
    padding-left: 10px;
}

/* google translate */

#language-box{
    margin-left: 17px;
    padding-right: 10px;
    height: 30px;
    background: url(../img/sprites-all.png) no-repeat 56px -24px;
}

div.skiptranslate, div.goog-te-gadget-simple{
    margin: 0;
    border: 0;
    background: none;
}

div.goog-te-gadget-simple img,
.goog-te-menu-value span{
    display: none;
}

.goog-te-menu-value span:first-child{
    display: block;
    height: 20px;
    color: #b9b9b9;
    margin: 0;
    padding: 0;
    margin-top: 3px;
}

.goog-te-menu-frame{
    top: 50px;
}

/* weibo related */

.weibo-marker-bg img{
    position: absolute;
    top: 6px;
    left: 6px;
}

.weibo-marker-bg{
    background: url(../img/markers/square-bg.png) no-repeat;
    height: 49px;
    width: 43px;
    position: relative;
    top: -10px;
}

.weibo-marker-shadow{
    background: url(../img/markers/square-shadow.png) no-repeat;
    width: 35px;
    height: 13px;
    position: absolute;
    top: 37px;
    left: 3px;
}

#weibo-box{
    position: absolute;
    right: 6px;
    top: 63px;
    padding: 9px;
    width: 230px;
    -webkit-border-radius: 4px/5px;
    -moz-border-radius: 4px/5px;
    border-radius: 4px/5px;
    background-color: rgba(255,255,255,0.95);
    -webkit-box-shadow: 0 2px 5px rgba(49,81,29,.3);
    -moz-box-shadow: 0 2px 5px rgba(49,81,29,.3);
    box-shadow: 0 2px 5px rgba(49,81,29,.3);
    border: solid 1px #a9a9a9;
}

h4.weibo-user-name{
    margin: 0;
    padding: 3px 0 9px;
    color: #1e1e1e;
    font-size: 14px;
}

p.weibo-content{
    margin: 0;
    color: :#4a4a4a;
    font-size: 12px;
    line-height: 18px;
}

img.weibo-img{
    margin-top: 10px;
}

/* list section */

#map-list{
    position: absolute;
    top: 55px;
    left: 0px;
    z-index: 999;
}

.map-list-section{
    width: 240px;
    background: white;

}

.map-list-section h4{  
    margin: 0;
    padding: 0;
    height: 20px;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    color: #ffffff;
    cursor: pointer;
}

#map-list ul{
    list-style: none;
    margin: 0;
    padding: 0;
    
    
}

.map-list{
    overflow: hidden;
    height: 135px;
}

#map-list li{
    margin: 0 14px;
    padding: 16px 10px 16px 32px;
    font-size: 12px;
    color: #535353;
    text-align: left;
    border-bottom: 1px solid #d8d8d8;
}

.list-more{
    position: relative;
}

.list-more-link{
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    color: #535353;
    padding: 12px 0;
}

.total-count{
    position: absolute;
    right: 18px;
    top: 11px;
    color: #adadad;
    font-size: 12px;
}

#ngo-list-section h4{
    background: #18944b;
}

#ngo-list-section li{
    background-image: url(../img/markers/markers-ngo.png);
    background-repeat: no-repeat;
}

#csr-list-section h4{
    background: #2aa7d6;
}

#csr-list-section li{
    background-image: url(../img/markers/markers-csr.png);
    background-repeat: no-repeat;
}

#case-list-section h4{
    background: #e54e27;
}

#case-list-section li{
    background-image: url(../img/markers/markers-case.png);
    background-repeat: no-repeat;
}

/* pager */

.pager{
    padding: 5px 12px;
}

.pager span{
    cursor: pointer;
    color: #808080;
}

.pager span, .pager div{
    float: left;
    display: block;
    margin-top: 0;
}

.prev-page, .next-page {
    text-indent: -9999px;
    display: block;
    width: 4px;
    height: 16px;
    background: url(../img/sprites-all.png) no-repeat 0 -320px;
    margin-right: 8px;
}

.next-page {
    background-position: 0 -360px;
    margin: 0;
}

.prev-page:hover{
    background-position: 0 -400px;
}

.next-page:hover{
    background-position: 0 -440px;
}

.pager-number{
    width: 15px;
    height: 16px;
    line-height: 18px;
    font-size: 12px;
    margin-right: 8px;
    text-align: center;
}

.pager-number.current{
    background-color: #18944b;
    color: white;
}

.record-1{
    background-position: 0 7px;
}

.record-2{
    background-position: 0 -33px;
}

.record-3{
    background-position: 0 -73px;
}

.record-4{
    background-position: 0 -113px;
}

.record-5{
    background-position: 0 -153px;
}

.record-6{
    background-position: 0 -193px;
}

.record-7{
    background-position: 0 -233px;
}

.record-8{
    background-position: 0 -273px;
}

.record-9{
    background-position: 0 -313px;
}

.record-10{
    background-position: 0 -353px;
}

.record-11{
    background-position: 0 -393px;
}

/* story board zone */

#story-zone{
    position: absolute;
    top: 95%;
    width: 100%;
}

#story-board {
    width: 100%;
    height: 800px;
    background-color: #e3e3e3;
    overflow: auto;
    z-index: 999;
    position: relative;
}

#story-zone-handle{
    width: 100%;
    background: url(../img/bg/story-bar.png) repeat-x;
    height: 34px;
    position: relative;
    border-bottom: 1px solid #909090;
    z-index: 1004;
    border-top: 1px solid #b0b0b0;
}

#about-us-link{
    color: #999999;
    font-size: 14px;
    position: absolute;
    top: 8px;
    left: 10px;
    text-decoration: none;
    text-decoration: none;
}

#story-board-button{
    padding-left: 25px;
    font-size: 14px;
    color: #18944b;
    display: block;
    background: url(../img/sprites-all.png) no-repeat 0px -120px;
    position: absolute;
    top: 10px;
    left: 50%;
    width: 50px;
    margin-left: -33px;
    cursor: pointer;
    text-decoration: none;
    text-decoration: none;
}

.down-arrow{
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    width: 16px;
    height: 7px;
    bottom: -7px;
    background: url(../img/sprites-all.png) no-repeat 0px -281px;
    z-index: 1004;
}

#story-zone-bottom{
    height: 15px;
    width: 100%;
    background: #cecece;
    bottom: 0px;
    position: absolute;
    z-index: 1001;
}

#story-list {
    height: 20px;
    width: 100%;
    margin: 0;
    padding: 10px;
    list-style: none;
}

#story-list li.board-story {
    display: block;
    list-style: none;
    width: 383px;
    height: 383px;
    margin: 0;
    padding: 0;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
    background-color: white;
}

.down-triangle {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #d9d9d9;
    position: absolute;
    bottom: -20px;
    left: 45%;
}

.image-mask{
	background-image: url(avatar-mask.gif);
}
